@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

path {
    stroke: black;

    transition: fill .4s ease;
    transform-origin: center center;
}

path:hover {
    cursor: pointer;
}

/* Style for the container for the logo, search bar, and settings button */
.top-bar {
    padding: 1.5%;
    display: flex;
    height: 40px;
    align-items: center;
}

/* Style for the logo in upper left */
#logo {
    flex: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

/* Style for the search box (includes text and button)*/
#search-box {
    border-bottom: 2px solid #2f3640;
    padding: 5px;
}

/* Style for the input text */
#search-text {
    outline: none;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

/* Style for the submit button */
#search-btn {
    background-color: white;
    border: none;
}

/* Style for the flex section containing the options button */
#settings-container {
    flex: 1;
}

/* Style for the icon of the options button */
#settings-gear {
    font-size: 20px;
    float: right;
}

::placeholder {
    color: #000;
}

/* Style for the continer for the map and related articles */
.news-section-container {
    display: flex;
}

/* Determines base style for the us map div */
#us-map {
    margin-left: -9%;
    flex: 1;
}

/* Determines style of the news article section */
#related-articles {
    background-color: orange;
    flex: 1;
}

/* Holds style for the popup when hovering a us state 
   From https://dev.to/codecustard/creating-an-interactive-map-of-the-us-b5o */
#details-box {
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.7);
    opacity: 0%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 12px;
    position: fixed;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}